#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.note-controls, .key-signature-controls {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}

.clef-controls {
  margin-bottom: 0.2rem;
}

.stave-container {
  position: relative;
}

#stave-visualization svg {
  filter: invert(1);
  @media (prefers-color-scheme: light) {
    filter: invert(0);
  }
}



.vertical-note-slider {
  position: absolute;
  bottom: -3px;
  right: 0%;
  width: 185px;
  transform:rotate(-90deg);
  transform-origin: left center;
  
}

#hidden-overlay-slider {
  opacity: 0;
  left: 50%;
}

.note-name {
  font-size: 1.4rem;
  margin: 0.6rem 0 0.4rem;
}

#play-button {
  font-size: 1.4rem;
}