#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.note-controls, .key-signature-controls {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}

.clef-controls {
  margin-bottom: 0.2rem;
}

.stave-container {
  position: relative;
  min-width: 260px;
}

#stave-visualization svg {
  filter: invert(1);
  @media (prefers-color-scheme: light) {
    filter: invert(0);
  }
}



.vertical-note-slider {
  position: absolute;
  bottom: -3px;
  right: 0%;
  width: 185px;
  transform:rotate(-90deg);
  transform-origin: left center;
  
}

#hidden-overlay-slider {
  opacity: 0;
  left: 50%;
}

.note-name {
  font-size: 1.4rem;
  margin: 0.6rem 0 0.4rem;
}

#play-button {
  font-size: 1.4rem;
}

.note-name-display {
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  border: 1px solid #646cff;
  border-radius: 4px;
  margin-left: 10px;
  width: 2rem;
}
